<div class="container">
  <div><form action="#">
    <div class="form-group">
     <label for="search"></label>
     <input type="text"  class="form-control form-control-sm" id="search" name="search" [(ngModel)]="search">
    </div>
    <button type="button" (click)="getSearchResult()" class="btn btn-primary btn-block mb-3  text-dark">search</button>
                
  </form>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <th class="col-2">File Format</th>
        <th class="col-2">Heading</th>
        <th class="col-2">Link</th>
      </thead>
      <tbody>
        <tr *ngFor="let result of responseData">
          <td>{{result.fileFormat}}</td>
          <td>{{result.htmlSnippet}}</td>
          <td><a>{{result.link}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>